body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.axisText {
    font-size: 3em;
    font-family: sans-serif;
    fill: #8E8883;
}

.tick line {
    color: #E5E2E0;
}

.tick text {
    font-size: 1.2rem;
    fill: #635F5D;
}

.title-label {
    font-size: 3em;
    fill: #7C715E;
}

.line-path {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    mix-blend-mode: multiply;
}

circle .tick {
    stroke: black;
    opacity: 0.5;
}